deploy-username: <pws-username>
deploy-password: <pws-password>
cf-organization: <pws-org-name>
cf-space: <pws-stage-space-name>
cf-api: <pws-api-url>
cf-app-suffix: app-hello
cf-app-domain: cfapps.io